<ion-header>
  <ion-toolbar>
      <ion-img src="/assets/banner.jpg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="data">
	<ion-card *ngFor="let item of data.articles">
	  <ion-card-header>
	    <ion-card-subtitle>{{item.title['pt_BR']}}</ion-card-subtitle>
	    <ion-card-title>{{item.id}}</ion-card-title>
	  </ion-card-header>

	  <ion-card-content>
	  	<div [innerHtml] ="item.abstract['pt_BR']">
	    	  		
	  	</div>

	  </ion-card-content>
	  <ion-item href="{{item.galleys[0].urlPublished}}">
	  	<ion-label>Texto completo
	  	</ion-label>
	  </ion-item>
	  <ion-item href="{{item.galleys[1].urlPublished}}">
	  	<ion-label>Arquivo pdf</ion-label>
	  </ion-item>
	</ion-card>

</ion-content>
