<ion-header>
  <ion-toolbar>
    <ion-title>
      RPAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/banner.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Aplicativo</ion-card-subtitle>
        <ion-card-title>RPAS</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>A Revista Pan-Amazônica de Saúde (RPAS) é publicada, desde 2010, sob a responsabilidade do Instituto Evandro Chagas, órgão vinculado à Secretaria de Vigilância em Saúde do Ministério da Saúde. </p>
        
      </ion-card-content>
    </ion-card>
    
    <ion-text >
      <h1>CLASSIFICAÇÃO QUALIS/CAPES 2015 (atualizado em janeiro/2017):</h1>

      <p>
      B1 em Ensino<br>
      B3 em Planejamento Urbano e Regional / Demografia <br>
      B4 em Enfermagem, História, Odontologia <br>
      B5 em Biotecnologia, Ciências Agrárias I, Ciências Ambientais, Ciências Biológicas III, Engenharia III, Medicina I, Medicina II, Medicina Veterinária, Saúde Coletiva</p>
    </ion-text>
</ion-content>
